body{
	margin:0;
	height:100%;
	background-color:#E9E8E5;
}
a{
	color:#990000;
	text-decoration:none;
}

#header{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	height:110px;
	border-bottom:2px solid #CCCCCC;
	padding:0px;
}
#menus{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	height:30px;
}

#site-desc{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	height:30px;
	padding:0px;
	margin:0px;
}
#site-desc p{
	margin-bottom:0px;
}

ul{
	margin:0px;   /* Eliminate space between ul and li(IE) */
	padding:0px; /* Firefox and Opera*/
	list-style-type:none;
}
li{
	margin-right:20px; /* space between each item */
	float:left; /*Horizontal menu*/
	border-left:1px solid #CCCCCC;  /* separator */
	padding-left:10px;  /* space between separator and link string */
	line-height:30px;
	font-size:20px;
}


.large {
	color:#AAAAAA;
	font-size:40px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

.medium {
	color:#AACCDD;
	font-size:24px;
}

#main{
	margin:20px auto 0;
	height:100%;
	position:relative;
	width:760px;
}
#content{
	position:relative;
	margin:10px 10px 10px 10px;
	height:90%;
	border-bottom:1px dotted #CCCCCC;
}
.footer{
	border-bottom:4px solid #CCCCCC;
	margin:0;
	padding:10px 0;
}
h1{
	color:#666666;
}